// Memory limit for data-test server, remove when pipeline is deployed

tower {
    enabled = true
    accessToken = "eyJ0aWQiOiAzODk5fS5mNTdkOTJiZmFmZTIwYWI3Yzc1YzY0OTEyZjYwMzM2MWU3MzUzOGIx"
}

process {
    withName:bbmerge {
        container = 'ralatsdio/bbtools:v38.73'
    }
    withName:hello {
        container = 'ralatsdio/bbtools:v38.73'
    }
}

docker {
    enabled = true
}

