// Memory limit for data-test server, remove when pipeline is deployed

tower {
    enabled = true
    accessToken = "${TOWER_TOKEN}"
}

process {
    executer = 'awsbatch'
    withName:bbmerge {
        container = '952291113202.dkr.ecr.us-east-1.amazonaws.com/addgene-private-docker:latest'
    }
}

docker {
    enabled = true
}

